openapi: 3.0.3
info:
  title: Withdrawal API
  description: Complete API documentation for wallet withdrawal functionality
  version: 1.0.0
  contact:
    name: Slide API Support
servers:
  - url: https://slide.osta-app.com
    description: Production Server

security:
  - BearerAuth: []

tags:
  - name: Withdrawal
    description: Wallet withdrawal operations

paths:
  /api/withdrawal/available-balance:
    get:
      tags:
        - Withdrawal
      summary: Get Available Balance
      description: Get the available balance for withdrawal (investor profile only)
      operationId: getAvailableBalance
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  result:
                    type: object
                    properties:
                      available_balance:
                        type: number
                        format: float
                      formatted_balance:
                        type: string
                      currency:
                        type: string
                        default: SAR
                      processing_time:
                        type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized

  /api/withdrawal/banks:
    get:
      tags:
        - Withdrawal
      summary: Get Banks List
      description: Get list of all active Saudi banks from database
      operationId: getBanks
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  result:
                    type: object
                    properties:
                      banks:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            code:
                              type: string
                            name_ar:
                              type: string
                            name_en:
                              type: string
                            icon:
                              type: string
                              nullable: true

  /api/withdrawal/bank-accounts:
    get:
      tags:
        - Withdrawal
      summary: Get Saved Bank Accounts
      description: Get all saved bank accounts for the authenticated user
      operationId: getBankAccounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  result:
                    type: object
                    properties:
                      bank_accounts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            bank_id:
                              type: integer
                            bank_name:
                              type: string
                            bank_name_en:
                              type: string
                            bank_code:
                              type: string
                            masked_account_number:
                              type: string
                            is_default:
                              type: boolean
                      count:
                        type: integer

    post:
      tags:
        - Withdrawal
      summary: Add Bank Account
      description: Add a new bank account (save for future or validate only)
      operationId: addBankAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bank_id
                - account_holder_name
                - iban
              properties:
                bank_id:
                  type: integer
                  description: ID of the bank from banks list
                  example: 1
                account_holder_name:
                  type: string
                  description: Full name of account holder
                  example: "أحمد محمد علي"
                iban:
                  type: string
                  description: Saudi IBAN (24 characters, starts with SA)
                  example: "SA0380000000608010167519"
                account_number:
                  type: string
                  description: Last 4 digits for display (optional)
                  example: "1234"
                save_for_future:
                  type: boolean
                  description: Whether to save this account for future use
                  default: false
                set_as_default:
                  type: boolean
                  description: Set as default account (only if save_for_future is true)
                  default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  result:
                    type: object
                    properties:
                      bank_account:
                        type: object
                        properties:
                          id:
                            type: integer
                          bank_id:
                            type: integer
                          bank_name:
                            type: string
                          masked_account_number:
                            type: string
                          is_default:
                            type: boolean
        '422':
          description: Validation Error

  /api/withdrawal/request:
    post:
      tags:
        - Withdrawal
      summary: Create Withdrawal Request
      description: Create a withdrawal request from wallet to bank account
      operationId: createWithdrawalRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required:
                    - amount
                    - bank_account_id
                  properties:
                    amount:
                      type: number
                      format: float
                      minimum: 0.01
                      example: 5000.00
                    bank_account_id:
                      type: integer
                      description: ID of saved bank account
                      example: 1
                - type: object
                  required:
                    - amount
                    - bank_id
                    - account_holder_name
                    - iban
                  properties:
                    amount:
                      type: number
                      format: float
                      minimum: 0.01
                      example: 5000.00
                    bank_id:
                      type: integer
                      description: ID of the bank
                      example: 1
                    account_holder_name:
                      type: string
                      example: "أحمد محمد علي"
                    iban:
                      type: string
                      description: Saudi IBAN (24 characters)
                      example: "SA0380000000608010167519"
                    save_for_future:
                      type: boolean
                      description: Save bank account for future use
                      default: false
                    set_as_default:
                      type: boolean
                      description: Set as default account (only if save_for_future is true)
                      default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  result:
                    type: object
                    properties:
                      withdrawal_request:
                        type: object
                        properties:
                          id:
                            type: integer
                          reference_number:
                            type: string
                          amount:
                            type: number
                          formatted_amount:
                            type: string
                          status:
                            type: string
                            enum: [pending, processing, completed, rejected, cancelled]
                          available_balance:
                            type: number
                          bank_details:
                            type: object
                          processing_time:
                            type: string
                          created_at:
                            type: string
                            format: date-time
        '400':
          description: Bad Request (e.g., Insufficient balance)
        '422':
          description: Validation Error

  /api/withdrawal/history:
    get:
      tags:
        - Withdrawal
      summary: Get Withdrawal History
      description: Get withdrawal request history with optional status filter
      operationId: getWithdrawalHistory
      parameters:
        - name: per_page
          in: query
          description: Items per page
          schema:
            type: integer
            default: 15
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [pending, processing, completed, rejected, cancelled]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  result:
                    type: object
                    properties:
                      withdrawal_requests:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            reference_number:
                              type: string
                            amount:
                              type: number
                            formatted_amount:
                              type: string
                            status:
                              type: string
                            status_label:
                              type: object
                              properties:
                                ar:
                                  type: string
                                en:
                                  type: string
                            bank_details:
                              type: object
                            available_balance:
                              type: number
                            rejection_reason:
                              type: string
                              nullable: true
                            approved_by:
                              type: integer
                              nullable: true
                            created_at:
                              type: string
                              format: date-time
                            completed_at:
                              type: string
                              format: date-time
                              nullable: true
                      pagination:
                        type: object
                        properties:
                          current_page:
                            type: integer
                          per_page:
                            type: integer
                          total:
                            type: integer
                          last_page:
                            type: integer

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Laravel Sanctum Bearer Token







